<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Payroll</title>
</head>
<body>

<h2>My Payroll</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Basic Salary</th>
            <th>Allowances</th>
            <th>Deductions</th>
            <th>Net Salary</th>
            <th>Pay Date</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="p : ${payrolls}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.basicSalary}"></td>
             <td th:text="${p.overtimeHours}"></td>
              <td th:text="${p.overtimeRate}"></td>
            <td th:text="${p.bonus}"></td>
            <td th:text="${p.deduction}"></td>
            <td th:text="${p.netSalary}"></td>
            <td th:text="${p.salaryMonth}"></td>
        </tr>

    
    </tbody>
</table>

</body>
</html>